<h1>Registro de compras entre fechas seleccionadas</h1>

<form method="post" id="comprasEntreFechas">
    <label>Ingrese primer fecha</label>
    <input type="text" name="f1" id="f1">
    <br>
    <label>Ingrese segunda fecha</label>
    <input type="text" name="f2" id="f2">
    <br>

    <br>

    <input type="submit" value="Buscar">
</form>

<p id="pMensaje">@ViewBag.Msg</p>




@model IEnumerable<Dominio.Compra>

@{
    ViewData["Title"] = "ComprasEntreFechas";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdActividadComprada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEntradas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioQueCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYhora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinalEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdActividadComprada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadEntradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioQueCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYhora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioFinalEntrada)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
