@model IEnumerable<Dominio.Compra>

@{
    ViewData["Title"] = "ListaDeCompras";
}

<h1>ListaDeCompras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActividadComprada.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEntradas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioQueCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYhora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinalEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActividadComprada.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEntradas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioQueCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYhora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinalEntrada)
            </td>
            <td>
                @*
                   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                   @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                   @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                *@

            </td>
        </tr>
}
    </tbody>
</table>
