@model IEnumerable<Dominio.Actividad>

@{
    ViewData["Title"] = "prueba";
}

<h1>prueba</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYhoraActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContadorMeGusta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYhoraActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContadorMeGusta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
